h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style {
   color: rgb(69, 184, 241);
   text-align: right;
   font-weight: bold;
}

.git-style {
   color: rgb(69, 184, 241);
   font-weight: bold;
}